[Desktop Entry]
Type=Application
Name=@DISTRO_NAME@ Installer
Exec=gentoo-installer
Icon=system-software-install
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
